.statistics {
    display: block;
    margin: 20px auto;
    width: 550px;
    background-color: #ada9a9;
    border: 1px solid #dbf728;
    border-radius: 8px;
    overflow: hidden;
}

.statList {
    display: flex;
    justify-content: space-around;
    list-style: none;
    height: 60px;
    padding: 0px;
    margin: 10px;
    border-radius: 8px;

}

.title {
    display: flex;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    color: #f8fafb;
    justify-content: center;
    align-items: center;
    height: 85px;
    border: 1px solid #d8e4e2;
    margin: 10px;
    border-radius: 8px;

}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f4f5f6;
    width: 100%;
    height: 100%;
    border: 1px solid #d8e4e2;
    border-radius: 8px;
}

.label {
    font-size: 15px;
    padding-bottom: 10px;
}

.percentage {
    font-size: 25px;
}