.transactionHistory {
    margin: 20px auto;
    width: 570px;
    font-family: sans-serif;
    border: 1px solid #dbf728;
    border-radius: 10px;
    padding: 3px;
}

.transactionHistory thead th {
    width: 300px;
}

.transactionHistory thead tr {
    height: 50px;
    background: #f5facb;
    color: #9d9d9d;
    font-size: 15px;
    text-transform: uppercase;
}

.transactionHistory tbody tr {
    height: 50px;
    color: #747577;
    background: #ada9a9;
}

.transactionHistory tr:nth-child(even) {
    background: #f4f5f6;
}

.transactionHistory tbody tr:hover {
    background: #ace7f6;
    color: #fff;
}

.transactionHistory td {
    padding: 8px 4px;
    text-align: center;
}

.transactionHistory td:nth-child(3n + 1) {
    padding: 8px 4px;
    text-align: center;
    text-transform: capitalize;
}

.transactionHistory td:nth-child(4n-1) {
    font-weight: bold;
    text-transform: uppercase;
}